body{
    margin: 0;
}

header, section, footer{
    width: 1020px;
    margin: 0 auto;
}

section{
    min-height: 100px;
}

nav{
    background-color: black;
}

nav::after{
    clear: both;
    content: "";
    display: block;
}

.logo {
    float: left;
    color:white;
}

.main-menu{
    float:  right;
    margin: 0;
}

.main-menu li{
    display: inline;
    list-style: none;
}

.main-menu li a{
    text-decoration: none;
    color: #fff
}

#slider{
    width: 100%;
    height: 500px;
    background-color: firebrick;
    position: relative;
}

.telv{
    position: absolute;
    top: 20px;
    right: 250px;
}

.telh {
    position: absolute;
    top: 130px;
    right: 200px;
}


